body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Radiobuttons.css */

.radio-input,
.checkbox-input {
  position: absolute;
  opacity: 0;
}

.radio-label,
.checkbox-label,
.slider {
  cursor: pointer;
}

.radio-label:focus, 
.radio-label:hover,
.checkbox-label:focus,
.checkbox-label:hover {
  /* Add focus styles as needed */
  color: lawngreen;
  outline: 1px solid lawngreen;
}

.radio-input:checked + .radio-label,
.checkbox-input:checked + .checkbox-label {
  color: lawngreen;
}

.hiddenBtn {
  display: none;
}