body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #f6eff3;
  color: #204229;
  min-height: 100vh;
  line-height: calc(1em + 0.5rem);
  /*improves text readability on MacOS which still uses subpixel antialiasing. No effect on Windows, Linux, mobile*/
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 22px;
}

* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
  font-size: 16px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.all-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.background-image {
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 15px;
  z-index: -1;
  rotate: 180deg;
  background-color: #ccc;
  -webkit-box-shadow: 0px -18px 65px 5px rgba(128,0,128,0.27);
  -moz-box-shadow: 0px -18px 65px 5px rgba(128,0,128,0.27);
  box-shadow: 0px -18px 65px 5px rgba(128,0,128,0.27);
}

.background-image img {
  border-radius: 15px;
}

h1, label, select, button {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgba(78, 162, 100, 0.702);
}

p, h2, h3 {
  font-family: 'Cairo', sans-serif;
  font-style: italic;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2 {
  margin-bottom: 2rem;
  text-shadow: 2px 2px 3px rgba(78, 163, 101, 0.7);
}

.capital-letter {
  font-size: 120%;
}

.store-quote {
  padding-top: 10px;
  padding-right: 2rem;
  margin-left: auto;
  font-size: 0.9rem;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: 300px;
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.option-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thankyou-container {
  color: rgba(128,0,128);
}

.thankyou-container h1 {
  text-shadow: 2px 2px 3px rgba(128, 0, 128, 0.7);
}

.radio-input,
.checkbox-input {
  position: absolute;
  opacity: 0;
}

#dropdown {
  padding: 5px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  margin-top: 1rem;
  color:  rgb(255, 0, 255, 0.7);
}

.suggestion-counter {
  font-weight: bold;
  color:  rgb(255, 0, 255, 0.7);
  font-size: 0.7rem;
}

.grey-text {
  color: darkgrey;
}

.button-container,
.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 3rem;
}

.lastpage-container {
  margin-bottom: 0;
}

.option-inner {
  display: flex;
  flex-direction: row;
}

/* aspect ratio box to reserve space for dynamic content */
.button-inner,
.input-inner {
  position: absolute;
  width: 100%;
  height: 50%;
}

.button-inner::before,
.input-inner::before {
  content: '';
  display: block;
  padding-top: 5%;
}

.input-inner {
  z-index: 1;
}

.input-inner:nth-child(1) {
  font-size: 0.8rem;
}

.bottom-section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

#suggestion {
  border-radius: 5px;
  margin-bottom: 4rem;
}

.hiddenBtn {
  display: none;
}

.progress-wrapper {
  position: relative;
  width: 100%;
}

.progress-container {
  position: absolute;
  top: -0.6rem;
  right: 5%;
}

.progress-container::before {
  content: '';
  display: block;
  padding-top: 10%;
}

.summary-container p:last-of-type {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.lastpage-container span {
  display: block;
}

#snacks-link {  
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-style: normal;
  color: rgba(128, 0, 128);
  text-decoration: none;
  animation: pulse 2s ease-in-out infinite;
}

/* media queries */

@media (max-width: 900px) {
 
  .background-image {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 667px) {

  html {
    font-size: 16px;
  }

  .progress-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
  }

  .progress-container {
    position: absolute;
    top: 5rem;
    right: 5%;
    border: none
  }

  #dropdown {
    font-size: 1.1rem;
  }

  .input-container {
    margin-bottom: 6rem;
  }
 
}

/* animations */

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}


